@page
@model BugTrackerv2.Pages.Bugs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bug</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.Summary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.Summary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.Assignee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.Assignee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.StepstoReproduce)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.StepstoReproduce)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.ApplicationUsage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.ApplicationUsage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.ExpectedResult)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.ExpectedResult)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.ActualResult)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.ActualResult)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.BugType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.BugType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.BugPriority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.BugPriority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.BugSeverity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.BugSeverity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bug.DateInactive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bug.DateInactive)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Bug.BugId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
