@page
@model BugTrackerv2.Pages.Bugs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Your Bug List</h1>
<br>
<form asp-page="./Index" method="get">
    <div class="form-actions">
        <p>
             <small class="text-muted"> Find by Title or Assignee:</small>
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index"><small>Back to full List</small></a>
        </p>
    </div>
</form>
<p>
    <a asp-page="Create">Create a New Bug</a>
</p>
<div class="table-responsive">
<table class="table table-hover table-striped table-bordered table-sm">
    <thead>
        <tr class="table-primary">
            <th >
                @Html.DisplayNameFor(model => model.Bugs[0].Title)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.Bugs[0].Summary)
            </th>
            <th >
                <a asp-page="./Index" asp-route-sortOrder="@Model.AssigneeSort" asp-route-currentFilter="@Model.CurrentFilter">
                @Html.DisplayNameFor(model => model.Bugs[0].Assignee)
                </a>
            </th>
            <th >
                @Html.DisplayNameFor(model => model.Bugs[0].StepstoReproduce)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.Bugs[0].ApplicationUsage)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.Bugs[0].ExpectedResult)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.Bugs[0].ActualResult)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.Bugs[0].BugType)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.Bugs[0].BugPriority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bugs[0].BugSeverity)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.Bugs[0].IsActive)
            </th>
            <th >
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort" asp-route-currentFilter="@Model.CurrentFilter">
                @Html.DisplayNameFor(model => model.Bugs[0].DateCreated)
                </a>
            </th>
            <th >
                @Html.DisplayNameFor(model => model.Bugs[0].DateInactive)
            </th>
            <th ></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bugs) {
        <tr class="table-active table-hover">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StepstoReproduce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUsage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedResult)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualResult)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BugType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BugPriority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BugSeverity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateInactive)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BugId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BugId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BugId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>

@{
    var prevDisabled = !Model.Bugs.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Bugs.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Bugs.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Bugs.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>

